<div class="container content">

  <div class="page-header">
    <div class="container">
      <h1>Routeo simple</h1>
      <div class="navLinks">
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/destino']">Destino</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <h1>Destinos que queremos visitar</h1>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>

<hr class="mb-5">

Fecha: {{ time | async }}